@import "tailwindcss";

.workoutForm {
  @apply flex flex-col gap-4 items-center p-4 w-72;
}
.workoutForm input {
  @apply outline-none border-b w-full mr-4 py-2;
}
.workoutForm .btn {
  @apply mt-4;
}
.btn {
  @apply cursor-pointer uppercase hover:bg-black/40 p-4 rounded-lg w-12 h-12 flex items-center justify-center text-xl;
}
body {
  @apply text-black/80 bg-gradient-to-br from-gray-100 via-gray-200 to-gray-300 text-gray-800;
}
body::-webkit-scrollbar {
  display: none;
}
